/*==== Begin navbar ====*/
.navbar {
  background-color: #fff;
  letter-spacing: 10px;
  padding: 10px;
}
.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {
  background: #ff7a3d;
}
/*==== End navbar ====*/

/*==== Begin jumbotron ====*/
.container h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin-top: 130px;
  font-size: 40px;
}
.container span {
  color: #fca76c;
}
/*==== End jumbotron ====*/

/*==== Begin hr ====*/
hr {
  max-width: 1060px;
  border-width: 5px;
  border-color: #b4dfe5;
}
/*==== End hr ====*/

/*==== Begin map and closer look row ====*/
.row {
  padding: 60px;
  margin-left: 40px;
}
#text {
  background-color: #ff7a3d;
  padding: 30px;

}
.closerlook {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
}
/*==== End map and closer look row ====*/

/*==== Begin country cards ====*/
.card {
  background-color: #f9f5ed;

}
.card-body {
  padding: 20px;
}
.card-title {
  font-family:'Roboto', sans-serif;
  font-weight: 600;
  color: #ff7a3d;
}
.card-img-top {
  height: 220px;
  width: 100%;
  display: block;
}
/*==== End country cards ====*/

/*==== Begin subscribe ====*/
#subscription {
  background-color: #fca76c;
  color: black;
  padding: 60px;
}

/*==== End subscribe ====*/
/*==== Begin Social Buttons ====*/

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px;
  padding: 4.8rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-10 {
  color: #ff7a3d;
  fill: #ff7a3d;
}
.icon-10:hover {
  background: #ff7a3d;
}

.icon-15 {
  color: #ff7a3d;
  fill: #ff7a3d;
}
.icon-15:hover {
  background: #ff7a3d;
}
.icon-17 {
  color: #ff7a3d;
  fill: #ff7a3d;
}
.icon-17:hover {
  background: #ff7a3d;
}

.icon-26 {
  color: #ff7a3d;
  fill: #ff7a3d;
}
.icon-26:hover {
  background: #ff7a3d;
}


/*==== End Social buttons ====*/
